@for $j from 1 through 6{
    .col-#{$j} {width: 100%/12 * $j;}
}
.texto-1{
    font-size: 15px;
}
.texto-2{
    font-size: 30px;
}
.texto-3{
    font-size: 45px;
}
.texto-4{
    font-size: 60px;
}
.texto-5{
    font-size: 75px;
}
.texto{
    width: 377px;
    height: 377px;
    background-color: aqua;
    border-radius: 50px;
}